NODE_ENV=development
PORT=9999
# Better Auth
CORS_ORIGIN=http://localhost:9988
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:9999


# Polar.sh payment
# sanbox token polar
POLAR_ACCESS_TOKEN=p
#  prod
# POLAR_WEBHOOK_SECRET=
# local
POLAR_WEBHOOK_SECRET=
# Polar slugs and products
POLAR_PRO_M_SLUG=
POLAR_PRO_M_PRODUCT_ID=

POLAR_PRO_Y_SLUG=
POLAR_PRO_Y_PRODUCT_ID=

POLAR_SUCCESS_URL=

# Database urls
DATABASE_LOCAL_URL=

# Redis Configuration
# for docker
# REDIS_URL=redis://host.docker.internal:6379
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=

# google local
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# github local
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# brevo
BREVO_API_KEY=